<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <h1>О сайте</h1>
        <v-img
          :src="require('../assets/load.gif')"
          class="my-3"
          contain
          height="70"
          v-if="loading"
        />
        <v-row justify="center">
            <v-alert type="error" max-width="400px" v-if="error">
              {{ error }}
            </v-alert>
            <p v-else style="white-space: pre-line;">{{ text }}</p>
          </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { HTTP } from "@/plugins/axios";
export default {
  data: () => ({
    text: '',
    error: false,
    loading: true
  }),
  created() {
    HTTP.get("information/about").then(
      response => {
          this.text = response.data.data.text
          this.loading = false 
      }
    ).catch(error => {
        if (error.response) {
            this.error = error.response.headers;
        } else {
            this.error = error.config
            this.loading = false
        }
  });
  },
};
</script>