<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="6">
        <h1>Информация</h1>
        <v-img
          :src="require('../assets/load.gif')"
          class="my-3"
          contain
          height="70"
          v-if="!loading"
        />
        <v-card v-else class="mx-auto my-12">
          <v-img height="250" :src="company.logo_url"></v-img>

          <v-card-title>{{ company.name }}</v-card-title>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating :value="4.5" color="amber" dense half-increments readonly size="14"></v-rating>

              <div class="grey--text ml-4">4.5 (413)</div>
            </v-row>

            <div class="my-4 subtitle-1">{{ company.description }}</div>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>

          <v-card-title>Контакты</v-card-title>

          <v-list two-line>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">mdi-phone</v-icon>
              </v-list-item-icon>

              <v-list-item-content align="left">
                <v-list-item-title>{{ company.phone || 'не указан' }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider inset></v-divider>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">mdi-email</v-icon>
              </v-list-item-icon>

              <v-list-item-content align="left">
                <v-list-item-title>{{ company.email || 'не указан' }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider inset></v-divider>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">mdi-map-marker</v-icon>
              </v-list-item-icon>

              <v-list-item-content align="left">
                <v-list-item-title>{{ company.city.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ company.address || 'не указан' }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>

      <v-col cols="6">
        <h1>Отзывы</h1>

        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Оставить отзыв</v-btn>
          </template>
          <v-card>
            <v-form ref="form" lazy-validation>
              <v-card-title class="headline grey lighten-2">Отзыв компании {{ company.name }}</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-text-field label="Имя" hint="Не обязательно" v-model="name"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <div>Рейтинг*</div>
                      <v-rating v-model="rating" color="yellow accent-4" dense hover size="18"></v-rating>
                    </v-col>

                    <v-col cols="12" sm="6">
                      <v-textarea label="Достоинства" rows="3" v-model="plus"></v-textarea>
                    </v-col>

                    <v-col cols="12" sm="6">
                      <v-textarea label="Недостатки" rows="3" v-model="minus"></v-textarea>
                    </v-col>

                    <v-col cols="12">
                      <v-textarea label="Текст отзыва*" required v-model="text" :rules="textRules"></v-textarea>
                    </v-col>

                    <v-col></v-col>
                  </v-row>
                </v-container>
                <small>*обязательные к заполнению поля</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Отмена</v-btn>
                <v-btn
                  :disabled="!valid"
                  @click="createReview"
                  color="primary"
                  class="mr-4"
                >Добавить</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
        <v-list two-line v-if="company.reviews.length > 0">
          <v-list-item-group>
            <template v-for="(item, index) in company.reviews">
              <v-list-item :key="item.id">
                <template>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                    <v-list-item-subtitle style="word-wrap: break-word;" v-text="item.text"></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-list-item-action-text v-text="item.created_at"></v-list-item-action-text>
                    <v-rating :value="item.rating" color="yellow accent-4" readonly size="14" dense></v-rating>
                  </v-list-item-action>
                </template>
              </v-list-item>

              <v-divider v-if="index + 1 < company.reviews.length" :key="index+343"></v-divider>
            </template>
          </v-list-item-group>
        </v-list>
        
        <div v-else>Еще никто не оставил отзыв</div>

      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { HTTP } from "@/plugins/axios";
import axios from 'axios';
export default {
  data: () => ({
    company: {
      name: "",
      description: "",
      phone: "",
      email: "",
      logo_url: "",
      city: {
        name: ""
      },
      address: "",
      reviews: []
    },
    loading: false,
    dialog: false,
    valid: true,
    text: "",
    textRules: [
      v => !!v || "Поле обязательно к заполнению",
      v =>
        (v && v.length >= 30) || "Текст должен содержать не менее 30 символов"
    ],
    name: "",
    minus: "",
    plus: "",
    rating: 3,
    ratings: [1, 2, 3, 4, 5],
    ip: null
  }),

  methods: {
    createReview() {
      if (this.$refs.form.validate()) {
        const data = {
          name: this.name,
          text: this.text,
          rating: this.rating,
          plus: this.plus,
          minus: this.minus,
          company_id: this.$route.params.id,
          ip: this.ip
        };

        HTTP.post("reviews", data)
          .then(response => {
            const resp = response.data;
            this.$refs.form.reset();
            if (resp == true) this.loadAbout();
            this.dialog = false;
          })
          .catch(error => {
            this.error = error.message;
          });
      }
    },
    loadAbout() {
      HTTP.get("companies/" + this.$route.params.id)
        .then(response => {
          this.company = response.data.data;
          this.loading = true;
        })
        .catch(error => {
          this.error = error.message;
        });
    }
  },
  mounted() {
    axios.get('https://api.ipify.org/?format=json').then(response => {
        this.ip = response.data.ip
      })
  },
  created() {
    this.loadAbout();
  }
};
</script>