<template>
  <v-container>
    <v-row>
      <div class="xs12 sm6">
      <v-btn class="ma-2" tile outlined color="success" to="/company-add">
              <v-icon left>mdi-pencil</v-icon>Добавить компанию
            </v-btn>
      </div>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Компании
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table 
            :headers="headers" 
            :items="companies" 
            :search="search" 
            loading="{ loading }" loading-text="Загрузка...">
            <template v-slot:item.name="{ item }">
              <router-link :to="'company/' + item.id">{{ item.name }}</router-link>
            </template>
            <template v-slot:item.description="{ item }">
              {{ item.description.slice(0,30) }}
            </template>
            </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { HTTP } from "@/plugins/axios";
  export default {
    data () {
      return {
        loading: true,
        search: '',
        error: '',
        companies: [],
        headers: [
          {
            text: 'Название',
            align: 'start',
            value: 'name',
          },
          { text: 'Город', value: 'city.name' },
          { text: 'Адрес', value: 'address' },
          { text: 'Сайт', value: 'site' },
          { text: 'Email', value: 'email', sortable: false },
          { text: 'Описание', value: 'description', sortable: false },
        ],
      }
    },
    created() {
    HTTP.get("companies")
      .then(response => {
        this.companies = response.data.data;
       // console.log(response.data.data);
        
      })
      .catch(error => {
        this.error = error.message;
      });
  }
  }
</script>
      