<template>
  <v-container>
    <v-row class="text-center" justify="center">
      <v-col cols="12">
        <h1>Добавить компанию</h1>
        <v-alert type="success" v-if="snackbar">{{ text }}</v-alert>

        <v-form ref="form" v-else lazy-validation>
          <v-text-field v-model="title" :rules="titleRules" label="Название" required></v-text-field>

          <v-select
            v-model="region"
            :items="regions"
            :rules="[v => !!v || 'Не выбран регион']"
            item-text="name"
            item-value="id"
            label="Выберите регион"
            @change="loadCity($event)"
            required
          ></v-select>

          <v-select
            v-model="city"
            :items="cities"
            :rules="[v => !!v || 'Не выбран город']"
            item-text="name"
            item-value="id"
            label="Выберите город"
            required
          ></v-select>

          <v-text-field v-model="address" label="Адрес(опционально)"></v-text-field>
          <v-text-field v-model="email" label="Email(опционально)"></v-text-field>
          <v-text-field v-model="site" label="Сайт(опционально)"></v-text-field>

          <v-btn color="warning" @click="loadFile">Загрузить картинку</v-btn>
          <input ref="fileInput" @change="onFileChange" type="file" style="display:none;" accept="image/*">

          <img :src="fileSrc" alt="" width="100" height="100" v-if="fileSrc">

          <v-textarea v-model="description" label="Введите описание"></v-textarea>

          <v-btn :disabled="!valid" color="success" class="mr-4" @click="sendPost">Добавить</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { HTTP } from "@/plugins/axios";
export default {
  data: () => ({
    snackbar: false,
    text: "",
    valid: true,
    fileImage: null,
    fileSrc: '',
    title: "",
    titleRules: [
      v => !!v || "Поле обязательно к заполнению",
      v =>
        (v && v.length >= 3) || "Название должно содержать не менее 3 символов"
    ],
    error: "",
    region: 0,
    regions: [],
    city: 0,
    cities: [],
    address: "",
    email: "",
    site: "",
    description: ""
  }),
  methods: {
    sendPost() {
      if (this.$refs.form.validate()) {
        if (this.site.length > 0) {
          if (this.site.slice(0,6) !== 'http://' || this.site.slice(0,7) !== 'https://') {
            this.site = 'https://' + this.site;
          }
        }
        const config = { 'content-type': 'multipart/form-data' }
        const formData = new FormData();
        formData.append('name', this.title)
        formData.append('city_id', this.city)
        formData.append('address', this.address)
        formData.append('email', this.email)
        formData.append('site', this.site)
        formData.append('description', this.description)
        formData.append('file', this.fileImage)
        HTTP.post("companies", formData, config)
          .then(response => {
            console.log(response.data);
            this.text = "Компания " + this.title + " добавлена в каталог";
            this.snackbar = true;
          })
          .catch(error => {
            this.error = error.message;
            console.log("Error" + error);
          });
      }      
    },
    loadFile() {
      this.$refs.fileInput.click()
    },
    onFileChange(event) {
      const file = event.target.files[0]
      const reader = new FileReader()
      reader.onload = () => {
        this.fileSrc = reader.result
      }
      reader.readAsDataURL(file)
      this.fileImage = file
    },
    loadCity(event) {
      HTTP.get("regions/" + event)
        .then(response => {
          this.cities = response.data.data.cities;
        })
        .catch(error => {
          this.error = error.message;
        });
    }
  },
  created() {
    HTTP.get("regions")
      .then(response => {
        this.regions = response.data.data;
      })
      .catch(error => {
        this.error = error.message;
      });
  }
};
</script>