<template>
  <v-container>
    <v-row class="text-center" justify="center">
      <v-col cols="6">

          <h1>Обратная связь с администрацией сайта</h1>

  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="name"
      :rules="nameRules"
      label="Ваше имя"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-textarea
      v-model="text"
      counter
      label="Текст сообщения"
      :rules="textRules"
      required
    ></v-textarea>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="onSubmit"
    >
      Отправить сообщение
    </v-btn>

  </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Поле обязательно к заполнению',
        v => (v && v.length >= 4) || 'Имя должно содержать не менее 4 символов',
      ],
      email: '',
      emailRules: [
        v => !!v || 'Поле обязательно к заполнению',
        v => /.+@.+\..+/.test(v) || 'Некорректный email адрес',
      ],
      text: '',
      textRules: [
          v => !!v || 'Поле обязательно к заполнению'
      ]
    }),

    methods: {
      onSubmit() {
        if (this.$refs.form.validate()) {
            const data = {
                email: this.email,
                name: this.name,
                text: this.text
            } 
          console.log(data);    
      }
  },
    },
  }
</script>