<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="8">
        <h1>Последние отзывы о работодателях</h1>
        <v-container fluid>
          <v-row wrap>
            <v-col v-for="card in reviews" :key="card.id" cols="4" class="mt-6 xs12 sm6">
              <v-card height="400px" min-width="200px" color="#FAFAFA">
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title class="headline" v-text="card.company.name"></v-card-title>
                  </div>
                  <v-avatar class="ma-3" size="40" tile>
                    <v-img :src="card.company.logo_preview_url"></v-img>
                  </v-avatar>
                </div>

                <v-card-text v-text="card.text.substring(0,150)"></v-card-text>

                <v-card-actions>
                  <v-btn text color="deep-purple accent-4">Читать</v-btn>
                  <v-spacer></v-spacer>
                  <v-rating
                    v-model="card.rating"
                    color="yellow accent-4"
                    dense
                    readonly
                    size="18"
                  ></v-rating>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="4">
        <v-card class="mx-auto">
          <v-app-bar dark color="grey" class="text-center">
            <v-toolbar-title>Новости</v-toolbar-title>
          </v-app-bar>

          <v-container>
            <v-row dense>
              <v-col v-for="(n,i) of news" :key="i" cols="12">
                <v-card color="#EFEBE9">
                  <v-card-title class="headline" v-text="n.title"></v-card-title>

                  <v-card-text v-text="n.text"></v-card-text>

                  <v-card-actions>
                    <v-btn text color="orange">Открыть</v-btn>
                    <v-spacer></v-spacer>
                    <div class="my-4 subtitle-1">{{ n.date }}</div>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {HTTP} from '@/plugins/axios.js'
export default {
  data: () => ({
    reviews: [],
    cards: [
      {
        title: "Pre-fab homes",
        src: "https://cdn.vuetifyjs.com/images/cards/house.jpg",
        rating: 1
      },
      {
        title: "Favorite road trips",
        src: "https://cdn.vuetifyjs.com/images/cards/road.jpg",
        rating: 3
      },
      {
        title: "Best airlines",
        src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
        rating: 5
      },
      {
        title: "Best airlines",
        src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
        rating: 4
      },
      {
        title: "Best airlines",
        src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
        rating: 6
      }
    ],
    news: [
      {
        title: "Новость №1",
        text: "Текст блалалалалалла",
        date: "03/10/2019"
      },
      {
        title: "Новость №1",
        text: "Текст блалалалалалла",
        date: "12/02/2020"
      }
    ]
  }),
  created() {
      HTTP.get("reviews")
        .then(response => {
          this.reviews = response.data;
          console.log(this.reviews);
          this.loading = true;
        })
        .catch(error => {
          this.error = error.message;
        });
  }
};
</script>