<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <h1>Правила сайта</h1>
        <v-img
          :src="require('../assets/load.gif')"
          class="my-3"
          contain
          height="70"
          v-if="loading"
        />

        <v-row justify="center">
          <div style="word-wrap: break-all;">
            <v-alert type="error" max-width="400px" v-if="error">{{ error }}</v-alert>
            <blockquote v-else class="blockquote" style="white-space: pre-wrap; text-align: left;">{{ text }}</blockquote>
          </div>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { HTTP } from "@/plugins/axios";
export default {
  data: () => ({
    text: "",
    error: false,
    loading: true
  }),
  beforeCreate() {
    HTTP.get("information/rules")
      .then(response => {
        this.text = response.data.data.text;
        this.loading = false;
      })
      .catch(error => {
        this.error = error.message;
        this.loading = false;
      });
  }
};
</script>