<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense v-for="link of links" :key="link.name">
        <v-list-item link :to="link.path">
          <v-list-item-action>
            <v-icon>info-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ link.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title><v-btn text to="/">Все о работе</v-btn></v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="hidden-sm-and-down">
      <v-btn text v-for="link of links" :key="link.name" :to="link.path">{{ link.title }}</v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center">
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>

  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: false,
      links: [
        {
          name: 'companies',
          path: '/companies',
          title: 'Компании'
        },
        {
          name: 'rules',
          path: '/rules',
          title: 'Правила'
        },
        {
          name: 'contacts',
          path: '/contacts',
          title: 'Контакты',
          icon: 'mdi-contact'
        },
        {
          name: 'about',
          path: '/about',
          title: 'О нас'
        }
      ]
    }),
  }
</script>
